.idea
target/
.idea/compiler.xml
.idea/misc.xml
src/main/java/com/griffinhill/reports/ExtentReporterNG.java
/target
/target/
target
.idea/compiler.xml
.idea/encodings.xml
target/test-classes/com/griffinhill/tests/TestsInit.class
target/test-classes/com/griffinhill/tests/testcases/IlassoTest.class
/allure-results/
allure-results/
