<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Griffin Hill - Illaso Automation Test Suite">

    <listeners>
        <listener class-name="reports.AllureListener"/>
    </listeners>

    <test name="Griffin Hill - Illaso Regression Testing">
        <classes>
        </classes>
    </test>
</suite>